


.landingPage{
  /* border: 2px solid red; */
  width: 30%;
  color: rgb(0, 4, 255);
    margin-top: 10%;
    margin-left: 35%;
    padding-top: 1px;
  padding-bottom: 5%;
  border-radius: 50px;
  background: 20px 50px 0px #dac610 ;
  transition: 1s;
  font-size: 30px;
}
.landingPage:hover{

  box-shadow:0px 0px 50px rgb(255, 149, 0);
  
}
.Alogin{
    text-decoration: none;
    color: #ff00f7;
}
.Alogin:hover{
    color: rgb(0, 26, 255);
}
.Ulogin{
    text-decoration: none;
    color: rgb(247, 3, 186);
}
.Ulogin:hover{
    color: rgb(4, 255, 0);
}